body {
    background-color: #000000;
}

#blue.button {
    background-color: blue;
}

#red.button {
    background-color: red;
}

#green.button {
    background-color: green;
}

#white.button {
    background-color: white;
}

#rainbow.button {
    background: red; /* not working, let's see some red */
	background: -moz-linear-gradient( top ,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 255, 0, 1) 15%,
		rgba(0, 255, 0, 1) 30%,
		rgba(0, 255, 255, 1) 50%,
		rgba(0, 0, 255, 1) 65%,
		rgba(255, 0, 255, 1) 80%,
		rgba(255, 0, 0, 1) 100%);
	background: -webkit-gradient(linear,  left top,  left bottom,
		color-stop(0%, rgba(255, 0, 0, 1)),
		color-stop(15%, rgba(255, 255, 0, 1)),
		color-stop(30%, rgba(0, 255, 0, 1)),
		color-stop(50%, rgba(0, 255, 255, 1)),
		color-stop(65%, rgba(0, 0, 255, 1)),
		color-stop(80%, rgba(255, 0, 255, 1)),
		color-stop(100%, rgba(255, 0, 0, 1)));
}

.light-group {
    max-width: 500px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: #222222;
}

.group-header {
    margin: 5px;
    padding: 5px;
    color: #ccc;
    background-color: #111;
    border-radius: 5px;
}

.button {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: grey;
    width: 100%;
    flex-grow: 1;
}

.row {
    display: flex;
}
